header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.header-buttons-right {
    width: 200px;
    display: flex;
    justify-content: space-around; 
    }

    .home-button {
        font-size: 60px;
        font-weight: bold;
        font-family: Cookie;
        background-color: var(--white);
        border-style: none;
        text-decoration: none;
        display: flex;
        flex: 1;
    }

    .login, .signup {
        font-size: 14px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
        font-weight: 500;
    }

    .login {
        color: var(--white);
        background-color: var(--blue);
        border-style: none;
        border-radius: 7px;
        padding: 5px 12px;
    }

    .signup {
        color: var(--blue);
        background-color: var(--white);
        border-style: none;
        margin-left: 10px;
    }

.home-button:hover, .login:hover, .signup:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}


