:root {
    --blue: #0095F6;
    --white: rgb(255, 255, 255); 
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 14px;
}

body {
    margin: 0.5rem;
}


@media only screen and (max-width: 640px) {
    
    .post {
        width: 100%;
        max-width: 200px;
        border-radius: 15px;
    }

    .gridContainerPosts {
    display:grid;
    justify-content: center;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    }

    .profile-name {
        display: none;
    }

}


/* 
@media only screen and (max-width: 831px) {
    
} 
*/
